.container {
    background-color: beige;
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;

}

.title {
    /* grid-column: 1/-1; */
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    text-align: center;
    font-weight: 600;
    /* margin: auto; */
    /* padding: 1em; */
}

.link:hover {
    background-color: lightgray;
}

@media (max-width: 700px) {
    .title {
        grid-column: 1/-1;
        text-align: center;
        padding: 1em;
    }
}