.fraction {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: brown;
}

.tripsummarycontainer {
    display: grid;
    /* grid-template-columns: fit-content(50%) fit-content(50%); */
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.tripsummarycontainer > * {
    width: 100%;
}