.button_container {
    background-color: darkgrey;
    /* border: solid; */
    border-radius: 20px;
    /* width: fit-content; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1em;
    /* margin: 1em; */
}

.button_container:hover {
    cursor: pointer;
}

.button_title {
    font-weight: 600;
}

.button_budget {
    font-weight: 600;
    color: aqua;
}

.category_grid {
    margin: 1em;
    display: grid;
    width: fit-content;
    gap: .1em;
}